.followUsText a {
  display: inline-block;
  position: relative;
}

/*effect-underline*/
.followUsText a:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 2px solid green;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.followUsText a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
