@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: scroll-behavior 0.8s ease-in-out;
  transform: translateZ(0);
}

.rtl {
  direction: rtl;
}
